body{
    font-family: 'Roboto', sans-serif;
   
    
}
.hi{
    background: url("images/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hi h1{
    font-size: 60px;
    color: white;
    text-align: center;
}
.hi p{
    font-size: 15px;
    color: white;
    text-align:center;
    /* line-height: 40px; */


}
.bt1{
    height: 50px;
    width: 150px;
    padding: 10px;
    color: white;
   
}


@media screen and (max-width:356px) {
    .hi h1{
        font-size: 50px;
    }
}
.demo img{
    height: 300px;
    width: 100%;
}
.foot{
    background-color: black;
    color: white;
}